html, body {
	margin: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.expanse {
	margin-bottom: 50px;
}

.expanse section {
	margin-top: 80px;
}

.expanse section.no-margin {
	margin-top: 12px;
}

.text-margin {
	margin: 50px;
}
.text-center {
	text-align: center;
}

p {
	color: #000;
	font-size: 16px;
	line-height: 1.7em;
}

#intro {
	position: relative;
}

.intro-hero {
	position: absolute;
	top: 120px;
	left: 0;
	width: 100%;
	height: auto;
}

.intro-content {
	z-index: 9;
	text-align: center;
	padding-top: 100px;
}

.intro-content h1 {
	font-size: 30px;
}

.intro-content h4 {
	font-size: 16px;
}

#first {
	padding-top: 300px;
}


@media (min-width: 500px) {
	.intro-hero {
		top: 70px;
	}
}

@media (min-width: 768px) {
	.intro-hero {
		top: 20px;
	}
}

@media (min-width: 992px) {
	.intro-content {
		padding-top: 150px;
	}

	.intro-content h1 {
		font-size: 45px;
	}

	.intro-content h4 {
		font-size: 22px;
	}
}

@media (max-width: 1028px) {
	.container {
		padding-left: 18px;
	}
}